body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

#clock {
    color: azure;
    font-size: 10em;
    text-shadow: 5px 5px 5px black
}