body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.clock {
    display: flex;
    color: azure;
    font-size: 10rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1)
}

#seconds {
    display: none;
}